@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --minang-red: #800000;
  --minang-gold: #D4AF37;
}

body {
  background-color: #1a1a1a;
  color: var(--minang-gold);
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}

.gold-gradient {
  background: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox */
  color: transparent;     /* Firefox */
}
